<section id="contact" class="content-medium">
    <div class="section-title"><%= t(:contact_title) %></div>
    <div class="content">
        <div class="left">
            <%= t(:contact_desc) %>
        </div>
        <div class="right">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="E-mail">
    
        <textarea name="msg" placeholder="Mansagem"></textarea>
        <a href="" class="button" >Send</a>
        </div>
    </div>
</section>