@import url(../node_modules/normalize.css/normalize.css);
@import url(../assets/fonts/stylesheet.css);
body {
  position: relative; }

div, ul, li, img {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

a {
  text-decoration: none;
  color: black; }

.content-medium {
  max-width: 1200px;
  margin: auto; }

.section-title {
  position: relative;
  margin-bottom: 20px;
  font-family: "Mosk Medium 500";
  font-size: 25px;
  color: gray; }
  .section-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 3px;
    background-color: #477f9f;
    width: 200px;
    transition: width .25s; }

.button {
  display: inline-block;
  background-color: #113a51;
  color: white;
  padding: 5px;
  border-radius: 5px; }

.inline-list {
  padding: 0px;
  margin: 0px; }
  .inline-list li {
    display: inline-flex;
    list-style: none; }

.title {
  padding-bottom: 5px;
  border-bottom: 2px solid #113a51; }

#menu {
  width: 100%; }
  #menu #menu-top {
    display: flex;
    justify-content: space-between;
    background-color: #113a51;
    color: white;
    font-family: "Mosk Thin 100";
    font-size: 15px; }
    #menu #menu-top ul li {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px; }
      #menu #menu-top ul li.active {
        color: #477f9f; }
      #menu #menu-top ul li.blueBack {
        background-color: #477f9f; }
  #menu #menu-timo {
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: #333333;
    font-family: "Mosk Thin 100";
    font-size: 20px;
    height: 70px; }
    #menu #menu-timo .menu-logo {
      padding: 10px; }
      #menu #menu-timo .menu-logo img {
        height: 100%; }
    #menu #menu-timo ul {
      display: flex;
      height: 100%; }
      #menu #menu-timo ul li {
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 50px; }
        #menu #menu-timo ul li.active {
          border-bottom: 2px solid #113a51; }

#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #113a51;
  color: white;
  display: flex;
  justify-content: space-around; }
  #footer .footer-title {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  #footer ul {
    margin: 0px;
    padding: 0px; }
    #footer ul li {
      list-style: none; }

#home-video {
  display: flex;
  flex-direction: column; }
  #home-video #home-video-top {
    display: flex;
    font-family: "Mosk Thin 100";
    font-size: 40px;
    color: #333333; }
    #home-video #home-video-top .item {
      width: 50%; }
  #home-video #home-video-complement {
    font-family: "Mosk Thin 100";
    text-align: center; }

#home-our-products {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  #home-our-products .content {
    display: flex; }
    #home-our-products .content .h-products {
      text-align: center;
      width: 25%;
      padding-left: 20px;
      padding-right: 20px; }
      #home-our-products .content .h-products img {
        width: 100%; }

#home-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  #home-numbers .content {
    display: flex; }
    #home-numbers .content .h-numbers {
      width: 25%;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px; }
      #home-numbers .content .h-numbers img {
        width: 100%; }

/*# sourceMappingURL=style.css.map */
