
@import url(../node_modules/normalize.css/normalize.css);
@import url(../assets/fonts/stylesheet.css);


//GLOBALS

div, ul, li, img {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

//COLORS
$blueDark: #113a51;
$blueLight: #477f9f;
$gray: #333333;
$grayDark: gray;
$white: white;


//FONTS
$moskThin:  "Mosk Thin 100";

//Inline ul,li
.inline-list {
    padding: 0px;
    margin: 0px;
    li { 
        display: inline-flex;
        list-style: none; 
    }
}

//TITLE
.title {
    padding-bottom: 5px;
    border-bottom: 2px solid $blueDark;
}

//Menu
#menu {
    width: 100%;
    
    
    #menu-top {
        display: flex;
        justify-content: space-between;
        background-color: $blueDark;
        color: $white;
        font-family: $moskThin;
        font-size: 15px;
        
        ul {
            li { 
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;

                &.active {
                    color: $blueLight;
                }
                &.blueBack {
                    background-color: $blueLight;
                }
            }
        }    
    }

    #menu-timo {
        background-color: $white;
        display: flex;
        justify-content: space-between;
        color: $gray;
        font-family: $moskThin;
        font-size: 20px;
        height: 70px;

        .menu-logo {

            padding: 10px;
            img {
                height: 100%;
            }
        }
        ul {
            display: flex;
            height: 100%;
            li { 
                height: 100%;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                line-height: 50px;

                &.active {
                    border-bottom: 2px solid $blueDark;
                }
            }
        }
    }
}



//HOME-PRODUCTS
#home-our-products {
    display: flex;
    justify-content: space-around;
}


//FOOTER
#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $blueDark;
    color: $white;
    display: flex;
    justify-content: space-around;

    .footer-title {
        border-bottom: 2px solid $white;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
        }
    }
}