<section id="home-video">
    <div id="home-video-top" class="content-medium">
        <div id="home-video-desc" class="item">
                <%= t(:video_home_title) %>
        </div>
        <div id="home-video-play" class="item">
            <iframe src="https://www.youtube.com/embed/LGoPhjg39kg?wmode=transparent" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div id="home-video-complement" class="content-medium">
        <%= t(:video_home_dec) %>
    </div>
    
</section>