<section id="school-books" class="content-medium"> 
    <div class="section-title"><%= t(:school_history_books_title) %></div>
    <% t(:school_history_books_paragrphs).each do |item| %>
        <p><%= item %></p>
    <% end %>
</section>