<section id="school-books" class="content-medium"> 
    <div class="section-title"><%= t(:school_history_books_title) %></div>
    <% t(:school_history_books_paragrphs).each do |item| %>
        <p><%= item %></p>
    <% end %>

    <div class="stores">
        <div><a href="https://play.google.com/store/apps/details?id=com.timokids_app.timokids" target="_blank"><%= image_tag 'botao_Google.png' %></a></div>
    </div>
</section>