<section id="school-dash" class="content-medium"> 
    <div class="section-title"><%= t(:school_dash_title) %></div>
    <div class="content">
        <div class="img">
            <%= image_tag 'school/dash.png' %>
        </div>
        <div class="desc">
            <%= t(:school_dash_desc) %>
        </div>
    </div>
</section>