<section id="school-story">
    <div class="text">
        <div class="content-medium">
            <div class="title">
            <%= t(:school_history_title) %>
            </div>
            <div class="desc">
                <%= t(:school_history_desc) %>
            </div>
        </div>
    </div>
    <div class="content-medium img">
        <%= image_tag 'about/objective.png' %>
    </div>
</section>