<section id="games-detail-1" class="content-medium"> 
    <div class="section-title"><%= t(:school_dash_title) %></div>

    <div class="content">
        <div class="left">
            
        </div>
        <div class="right">
            
        </div>
    </div>
</section>