<section id="games-detail-2" class="content-medium"> 
    <div class="section-title"><%= t(:school_dash_title) %></div>

    <div class="content">
        <p></p>
        <p></p>
        <div class="video"></div>
    </div>
</section>