<section id="social-books">
    <div class="content-medium">
        <div class="section-title"><%= t(:social_books_title) %></div>
        <div class="img">
            <%= image_tag "social/LivrosImpressos.png" %>
        </div>

        <p class="title"><%= t(:social_books_sub) %></p>
        <p><%= t(:social_books_desc) %></p>
    </div>

</section>