<section id="social-history">
    <div class="content-blue">
        <div class="content-medium">
            <div class="section-title white"><%= t(:social_history_title) %></div>
            <p><%= t(:social_history_desc) %></p>
        </div>
    </div>
    

    <div class="content-medium">
        <div class="img"> </div>
    </div>
</section>