<section id="social-promoctions" class="content-medium">

    <div class="section-title"><%= t(:social_investment_title) %></div>
    <div class="content">
        <div class="left">
            <%= image_tag "social/invest.png" %>
        </div>
        <div class="right">
            <ul>
                <% t(:social_investment_tparagrphs).each do |item| %>
                    <li><%= item %></li>
                <% end %>
            </ul>
        </div>
    </div>
    

</section>