<section id="social-promoctions" class="content-medium">

    <div class="section-title"><%= t(:social_promoctions_title) %></div>
    <div class="content">
        <div class="right">
            <%= image_tag "social/cupon.png" %>
        </div>
        <div class="left">
        <% t(:social_promoctions_paragraphs).each do |item| %>
            <p><%= item %></p>
        <% end %>
        </div>
        
    </div>
    

</section>