<section id="social-start" class="content-medium">
    <div class="title"><%= t(:social_start_title) %></div>
    <% t(:social_start_tparagrphs).each do |item| %>
        <p><%= item %></p>
    <% end %>
</section>