<section id="social-white">
    <div class="content-medium">
        <div class="section-title"><%= t(:social_white_title) %></div>
    </div>
    <div class="img">
    </div>
    
    <div class="content content-medium">
        <p class="title"><%= t(:social_white_sub) %></p>
        <p><%= t(:social_white_desc) %></p>
    </div>

</section>