<section id="approach" class="content-medium">
    <div class="section-title"><%= t(:approach_title) %></div>
    <div class="sub"><%= t(:approach_subtitle) %></div>
    <div class="desc"><%= t(:approach_desc) %></div>
    
</section>