<section id="objectives">
    <div class="content-medium">
        <div class="grid">
            <% t(:objectives).each do |item| %>
                <div class="grid-item">
                    <div class="title"> <%= item[:title] %></div>
                    <div class="desc"><%= item[:desc] %></div>
                </div>
            <% end %>
        <div>
    </div>
    
</section>