
<section id="objective"> 
    <div class="content-medium z0">
        <div class="section-title"><%= t(:objective_title) %></div>
        <%= image_tag 'about/sobrenos_foto.png' %>
    </div>

    <div class="desc-content">
        <div class="content-medium">
            <%= t(:objective_desc) %>
        </div>
    </div>
</section>