<section id="vision" class="content-medium">
    <div class="section-title"><%= t(:vision_title) %></div>
    <div class="content">
        
        <div class="item-desc">
            <div class="desc-content">
                <%= t(:vision_desc) %>
            </div>
        </div>
        <%= image_tag 'about/sobrenos_fotovisao2.png' %>
    </div>

</section>