<section id="games-features">
    <div class="content-medium">
        <div class="grid">
            <% t(:games_features_paragrphs).each do |item| %>
                <div class="item">
                <p><%= item[:title] %></p>
                <p><%= item[:desc] %></p>
                </div>
            <% end %>
        </div>
        
    </div>
    
</section>