<section id="games-intro" class="content-medium">
    <div class="title"><%= t(:games_intro_title) %></div>
    <p class="desc"><%= t(:games_intro_desc) %></p>
    <% t(:games_intro_paragrphs).each do |item| %>
    <p><%= item %></p>
    <% end %>
</section>